/* 共通 */
body {
    padding: 0em 5em;
}

/* キーワードエリア */
.search {
    margin: 2em 0em;
    height: 3em;
}

.search_text {
    display: inline-block;
	width: 30em;
	box-sizing: border-box;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #1b2538;
	border-radius: 4px;
}

.ef:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

/* 表示ボタン */
.search_btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

.search_btn:hover {
    background: #67c5ff;
    color: white;
}

/* タブエリア */
.nav-tabs {
    margin: 20px 0px;
}

/* メッセージエリア */
.msg {
    color: #f00;
}

/* キャンバス */
.canvas {
    width: 800px;
    height: 600px;
    margin-top: 10px;
    background-color: #eee;
    border: solid #aaa
}

.link {
    stroke: #555;
}

.node {
    stroke: #fff;
    fill: #55f;
    z-index: 1;
}

.node-label {
    font-weight: bold;
}

.main {
    fill: #f55;
    z-index: 2;
}

.disp_count {
    width: 3em;
}

