<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>Wiki Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
</head>
<body>
    <h1>ウィキ ノード</h1>

    <!-- タブボタン -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#tab1" class="nav-link" data-toggle="tab">リンクされた単語をみる</a>
        </li>
        <li class="nav-item">
            <a href="#tab2" class="nav-link" data-toggle="tab">カテゴリをみる</a>
        </li>
    </ul>

    <!-- タブコンテンツ -->
    <div class="tab-content">
        <!-- ノードエリア -->
        <div id="tab1" class="tab-pane active">
            <p>
                表示するノードの数: <input type="number" class="disp_count" id="disp_count" min="1" max="99" value="25">
            </p>
            <p>
                <input type="text" id="keyword" size="30" placeholder="検索ワード">
                <input type="button" id="search_button" value="Search">
            </p>
            <p class="msg" id="msg"></p>
            <svg class="canvas" xmlns="http://www.w3.org/2000/svg"></svg>
        </div>
        <div id="tab2" class="tab-pane active">
        </div>
    </div>
</body>
</html>