<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>Wiki Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/canvas.css">
    <link rel="stylesheet" href="/static/css/search.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
</head>
<body>
    <header>
        <h1>Wiki Viewer</h1>
    </header>
    <main>
        <!-- タブエリア -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="#tab1" class="nav-link active" data-toggle="tab">リンクされた単語をみる</a>
            </li>
            <li class="nav-item">
                <a href="#tab2" class="nav-link" data-toggle="tab">カテゴリをみる</a>
            </li>
        </ul>

        <!-- タブコンテンツ -->
        <div class="tab-content">
            <!-- リンクタブ -->
            <div id="tab1" class="tab-pane active">
                <!-- 描画エリア -->
                <svg id="canvas_link" class="canvas" xmlns="http://www.w3.org/2000/svg"></svg>
                <!-- 検索エリア -->
                <div class="search">
                    <input type="text" id="keyword-link" class="search_item search_text" size="30" placeholder="キーワード">
                    <div class="search_item">
                        <label for="max-nodes">ノードの数</label>
                        <input type="number" class="search_text search_count" id="max-nodes" min="1" max="40" value="20">
                    </div>
                    <input type="button" id="btn_link" class="search_item search_btn" value="表 示">
                    <div class="msg" id="msg_link"></div>
                </div>
            </div>
            <!-- カテゴリタブ -->
            <div id="tab2" class="tab-pane">
                <!-- 描画エリア -->
                <svg id="canvas_category" class="canvas" xmlns="http://www.w3.org/2000/svg"></svg>
                <!-- 検索エリア -->
                <div class="search">
                    <input type="text" id="keyword-category" class="search_item search_text" size="30" placeholder="キーワード">
                    <input type="button" id="btn_category" class="search_item search_btn" value="表 示">
                    <div class="msg" id="msg_category"></div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>